<!doctype html>
<html lang="en">
    <head>
        <title>Galleon Authentication Example</title>
    </head>
<body>
    <h1>Step 1</h1>
    <form action="/prompt" method="get">
        <lable for="address">Address</lable>
        <input type="text" name="address" placeholder="tz1..." value="tz1Vntj2aVpqcQEeHq2CEmNrSGw8finvbFcX" />
        <button type="submit">Continue</button>
    </form>
</body>

</html>
