<!doctype html>
<html lang="en">
    <head>
        <title>Galleon Authentication Example</title>
    </head>
<body>
    <h1>Step 3 - B</h1>
    <p>Successfully validated prompt with signature for <%= sessionAddress %></p>
</body>

</html>
